In [179]:
# Tratamiento de datos
# ==============================================================================
import numpy as np
import pandas as pd
import math 

# Gráficos
# ==============================================================================
import matplotlib.pyplot as plt
from matplotlib import style
import matplotlib.ticker as ticker
import seaborn as sns

# Gráficos
# ==============================================================================
from statsmodels.tools.tools import add_constant
from statsmodels.stats.outliers_influence import variance_inflation_factor

# Asunciones y Preprocesamiento
# ==============================================================================
from scipy import stats
import math
from scipy.stats import levene
import researchpy as rp
from sklearn.preprocessing import StandardScaler
import itertools

# ANOVA
# ==============================================================================
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.multivariate.manova import MANOVA

#Linear Regresion con Sklearn
# ==============================================================================
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

# Configuración warnings
# ==============================================================================
import warnings
warnings.filterwarnings('ignore')

# Tamaño gráficas
# ==============================================================================
plt.rcParams["figure.figsize"] = (10,8)

from sklearn.preprocessing import MinMaxScaler, OrdinalEncoder, StandardScaler,OneHotEncoder

In [180]:
df= pd.read_csv("Bicicletas_limpio.csv", index_col = 0)
df.set_index('instant')

,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
instant,,,,,,,,,,,,,,,
1,01-01-2018,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
2,02-01-2018,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
3,03-01-2018,spring,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
4,04-01-2018,spring,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
5,05-01-2018,spring,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,27-12-2019,spring,1,12,0,4,1,2,10.420847,11.33210,65.2917,23.458911,247,1867,2114
727,28-12-2019,spring,1,12,0,5,1,2,10.386653,12.75230,59.0000,10.416557,644,2451,3095
728,29-12-2019,spring,1,12,0,6,0,2,10.386653,12.12000,75.2917,8.333661,159,1182,1341
729,30-12-2019,spring,1,12,0,0,0,1,10.489153,11.58500,48.3333,23.500518,364,1432,1796
730,31-12-2019,spring,1,12,0,1,1,2,8.849153,11.17435,57.7500,10.374682,439,2290,2729

1. Categorizar
2. Quitar outliers
3. Probar regresión sin variable categórica
4. Codificar la variable de diferentes formas y probar la regresión
5. Estandarizar
6. Probar de nuevo
7. Quitar temp y atemp sin entandarizar y probar el modelo
8. Quitar temp y atemp estandarizado y probar.

In [181]:
df_sin_outliers= df.copy()

In [182]:
df_sin_outliers.set_index('instant')

,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
instant,,,,,,,,,,,,,,,
1,01-01-2018,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
2,02-01-2018,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
3,03-01-2018,spring,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
4,04-01-2018,spring,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
5,05-01-2018,spring,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,27-12-2019,spring,1,12,0,4,1,2,10.420847,11.33210,65.2917,23.458911,247,1867,2114
727,28-12-2019,spring,1,12,0,5,1,2,10.386653,12.75230,59.0000,10.416557,644,2451,3095
728,29-12-2019,spring,1,12,0,6,0,2,10.386653,12.12000,75.2917,8.333661,159,1182,1341
729,30-12-2019,spring,1,12,0,0,0,1,10.489153,11.58500,48.3333,23.500518,364,1432,1796
730,31-12-2019,spring,1,12,0,1,1,2,8.849153,11.17435,57.7500,10.374682,439,2290,2729

In [183]:
df_sin_outliers

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,spring,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,spring,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,spring,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,726,27-12-2019,spring,1,12,0,4,1,2,10.420847,11.33210,65.2917,23.458911,247,1867,2114
726,727,28-12-2019,spring,1,12,0,5,1,2,10.386653,12.75230,59.0000,10.416557,644,2451,3095
727,728,29-12-2019,spring,1,12,0,6,0,2,10.386653,12.12000,75.2917,8.333661,159,1182,1341
728,729,30-12-2019,spring,1,12,0,0,0,1,10.489153,11.58500,48.3333,23.500518,364,1432,1796
729,730,31-12-2019,spring,1,12,0,1,1,2,8.849153,11.17435,57.7500,10.374682,439,2290,2729

In [184]:
def detectar_outliers(lista_columnas, df_sin_outliers): 
    
    dicc_indices = {} # creamos un diccionario donde almacenaremos índices de los outliers
    
    # iteramos por la lista de las columnas numéricas de nuestro dataframe
    for col in lista_columnas:
        
        #calculamos los cuartiles Q1 y Q3
        Q1 = np.nanpercentile(df[col], 25)
        Q3 = np.nanpercentile(df[col], 75)
        
        # calculamos el rango intercuartil
        IQR = Q3 - Q1
        
        # calculamos los límites
        outlier_step = 1.5 * IQR
        
        # filtramos nuestro dataframe para indentificar los outliers
        outliers_data = df_sin_outliers[(df_sin_outliers[col] < Q1 - outlier_step) | (df_sin_outliers[col] > Q3 + outlier_step)]
        
        
        if outliers_data.shape[0] > 0: # chequeamos si nuestro dataframe tiene alguna fila. 
        
            dicc_indices[col] = (list(outliers_data.index)) # si tiene fila es que hay outliers y por lo tanto lo añadimos a nuestro diccionario
        

    
    return dicc_indices

In [185]:
columnas_numericas = df.select_dtypes(include = np.number)

In [186]:
lista_columnas = list(columnas_numericas)

In [187]:
ind = detectar_outliers(lista_columnas, df_sin_outliers)
print(ind)

{'holiday': [16, 51, 104, 149, 184, 247, 282, 314, 327, 359, 366, 380, 415, 470, 512, 549, 610, 645, 680, 690, 723], 'hum': [49, 68], 'windspeed': [44, 49, 93, 94, 292, 382, 407, 420, 431, 432, 449, 665, 720], 'casual': [148, 183, 184, 196, 246, 281, 440, 446, 454, 455, 461, 468, 469, 475, 489, 496, 503, 504, 510, 511, 512, 517, 518, 524, 531, 532, 538, 539, 549, 559, 567, 580, 594, 608, 609, 616, 622, 629, 630, 636, 643, 657, 664, 679]}

In [188]:
for key, values in ind.items():
    median = df_sin_outliers[key].median()
     
    if key == "hum" or key == 'windspeed':
        for i in values: 
            df_sin_outliers.loc[i,key] = median
    else:
        pass

In [189]:
df_sin_outliers['mnth'] = df_sin_outliers['mnth'].astype('category')
df_sin_outliers['yr'] = df_sin_outliers['yr'].astype('category')
df_sin_outliers['holiday'] = df_sin_outliers['holiday'].astype('category')

In [190]:
df_sin_outliers["weekday"] = df_sin_outliers["weekday"].astype('category')
df_sin_outliers["workingday"] = df_sin_outliers["workingday"].astype('category')
df_sin_outliers["weathersit"] = df_sin_outliers["weathersit"].astype('category')

In [191]:
del df_sin_outliers['instant']

In [192]:
del df_sin_outliers['dteday']

In [193]:
df_sin_outliers

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,spring,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,spring,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,spring,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,spring,1,12,0,4,1,2,10.420847,11.33210,65.2917,23.458911,247,1867,2114
726,spring,1,12,0,5,1,2,10.386653,12.75230,59.0000,10.416557,644,2451,3095
727,spring,1,12,0,6,0,2,10.386653,12.12000,75.2917,8.333661,159,1182,1341
728,spring,1,12,0,0,0,1,10.489153,11.58500,48.3333,23.500518,364,1432,1796
729,spring,1,12,0,1,1,2,8.849153,11.17435,57.7500,10.374682,439,2290,2729

In [194]:
df_sin_outliers.dtypes

season          object
yr            category
mnth          category
holiday       category
weekday       category
workingday    category
weathersit    category
temp           float64
atemp          float64
hum            float64
windspeed      float64
casual           int64
registered       int64
cnt              int64
dtype: object

In [195]:
df_numericas = df_sin_outliers.select_dtypes(include=np.number)

In [196]:
x = df_numericas.drop('registered', axis=1) #Eliminamos nuestra variable respuesta.
y = df_numericas[['registered']]

In [197]:
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8, random_state=42)

In [198]:
lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression()

In [199]:
y_pred_test =lr.predict(x_test)
y_pred_train =lr.predict(x_train)

In [200]:
def metricas(y_test, y_train, y_test_pred, y_train_pred):
    
    
    resultados = {'MAE': [metrics.mean_absolute_error(y_test, y_test_pred), metrics.mean_absolute_error(y_train, y_train_pred)],
                'MSE': [metrics.mean_squared_error(y_test, y_test_pred), metrics.mean_squared_error(y_train, y_train_pred)],
                'RMSE': [np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)), np.sqrt(metrics.mean_squared_error(y_train, y_train_pred))],
                'R2':  [metrics.r2_score(y_test, y_test_pred), metrics.r2_score(y_train, y_train_pred)],
                 "set": ["test", "train"]}
    df = pd.DataFrame(resultados)
    return df

In [201]:
results = metricas(y_test, y_train,y_pred_test, y_pred_train)
results

            MAE           MSE          RMSE   R2    set
0  6.883504e-13  8.937517e-25  9.453844e-13  1.0   test
1  6.470441e-13  8.715049e-25  9.335443e-13  1.0  train

In [202]:
results.style.background_gradient(cmap='coolwarm')

Resultados sin sentido solo quitando outliers y sin variable categorica

### Codificar season con get_dummies y mapa

In [203]:
df_dummies = df_sin_outliers.copy()

In [204]:
dummies_season = pd.get_dummies(df_dummies['season'], prefix_sep= '_', prefix='season', dtype='int')

In [205]:
df_dummies[dummies_season.columns] = dummies_season

In [206]:
df_dummies

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,season_autumn,season_spring,season_summer,season_winter
0,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985,0,1,0,0
1,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801,0,1,0,0
2,spring,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349,0,1,0,0
3,spring,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562,0,1,0,0
4,spring,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,spring,1,12,0,4,1,2,10.420847,11.33210,65.2917,23.458911,247,1867,2114,0,1,0,0
726,spring,1,12,0,5,1,2,10.386653,12.75230,59.0000,10.416557,644,2451,3095,0,1,0,0
727,spring,1,12,0,6,0,2,10.386653,12.12000,75.2917,8.333661,159,1182,1341,0,1,0,0
728,spring,1,12,0,0,0,1,10.489153,11.58500,48.3333,23.500518,364,1432,1796,0,1,0,0
729,spring,1,12,0,1,1,2,8.849153,11.17435,57.7500,10.374682,439,2290,2729,0,1,0,0

In [207]:
df_dummies.drop(['season'], axis=1, inplace=True)

In [208]:
x = df_dummies.drop('registered', axis=1) #Eliminamos nuestra variable respuesta.
y = df_dummies[['registered']]

In [209]:
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8, random_state=42)

In [210]:
lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression()

In [211]:
y_pred_test =lr.predict(x_test)
y_pred_train =lr.predict(x_train)

In [212]:
def metricas(y_test, y_train, y_test_pred, y_train_pred):
    
    
    resultados = {'MAE': [metrics.mean_absolute_error(y_test, y_test_pred), metrics.mean_absolute_error(y_train, y_train_pred)],
                'MSE': [metrics.mean_squared_error(y_test, y_test_pred), metrics.mean_squared_error(y_train, y_train_pred)],
                'RMSE': [np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)), np.sqrt(metrics.mean_squared_error(y_train, y_train_pred))],
                'R2':  [metrics.r2_score(y_test, y_test_pred), metrics.r2_score(y_train, y_train_pred)],
                 "set": ["test", "train"]}
    df = pd.DataFrame(resultados)
    return df

In [213]:
results = metricas(y_test, y_train,y_pred_test, y_pred_train)
results

            MAE           MSE          RMSE   R2    set
0  4.765503e-13  6.055132e-25  7.781473e-13  1.0   test
1  5.440336e-13  7.259870e-25  8.520487e-13  1.0  train

In [214]:
results.style.background_gradient(cmap='coolwarm')

In [215]:
mapa_season = {"spring": 0,"summer": 1, "autumn": 2, "winter": 3} #asigno a cada estacion un valor
df_sin_outliers["season"] = df_sin_outliers["season"].map(mapa_season)#asigno a la columna los valores

In [216]:
x=df_sin_outliers.drop(columns = ['registered'])
y = df_sin_outliers['registered']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

# Creamos la regresiónn lineal
LR = LinearRegression() # nos aseguramos de que se normalizan los datos
# Ajustamos el modelo
LR.fit(x_train,y_train)
y_prediction_train =  LR.predict(x_train)
Adj_r2_train = 1 - (1-r2_score(y_train,y_prediction_train)) * (x_train.shape[0]-1)/(x_train.shape[0]-x_train.shape[1]-1)

y_prediction =  LR.predict(x_test)
Adj_r2_test = 1 - (1-r2_score(y_test, y_prediction)) * (x_test.shape[0]-1)/(x_test.shape[0]-x_test.shape[1]-1)

# Para el conjunto de entrenamiento las méticas han sido
print('Para el conjunto train:---------------')
print('El valor de r2 score es ',r2_score(y_train,y_prediction_train))
print('El valor de r2 score adjusted es ',Adj_r2_train)
print('El MAE es',mean_absolute_error(y_train,y_prediction_train))
print('EL RMSE es ',np.sqrt(mean_squared_error(y_train,y_prediction_train)))


# Para el conjunto de test las métricas han sido
print('Para el conjunto test:---------------')
print('El valor de r2 score es ',r2_score(y_test,y_prediction))
print('El valor de r2 score adjusted es ',Adj_r2_test)
print('El MAE es',mean_absolute_error(y_test,y_prediction))
print('EL RMSE es ',np.sqrt(mean_squared_error(y_test,y_prediction)))

Para el conjunto train:---------------
El valor de r2 score es  1.0
El valor de r2 score adjusted es  1.0
El MAE es 3.830604022717636e-13
EL RMSE es  5.823304013582889e-13
Para el conjunto test:---------------
El valor de r2 score es  1.0
El valor de r2 score adjusted es  1.0
El MAE es 3.986826089963521e-13
EL RMSE es  5.968466280025588e-13

Solo ha mejorado levemente el modelo con el df sin outliers, con categorica codificada con mapa.

### Estandarizamos

In [217]:
df_estandarizado = df_sin_outliers.copy()

In [218]:
columnas_numericas = df_estandarizado.select_dtypes(include=np.number)

In [219]:
st = StandardScaler()
x_tranformadas = pd.DataFrame(st.fit_transform(columnas_numericas))
x_tranformadas.columns = columnas_numericas.columns
df_estandarizado[x_tranformadas.columns] = x_tranformadas
df_estandarizado.head()

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,-1.350819,0,1,0,6,0,2,-0.827613,-0.680818,1.267606,-0.363437,-0.755455,-1.927745,-1.820972
1,-1.350819,0,1,0,0,0,2,-0.722069,-0.741507,0.480415,0.874656,-1.046996,-1.917480,-1.916078
2,-1.350819,0,1,0,1,1,1,-1.635432,-1.750344,-1.376017,0.871424,-1.063031,-1.558846,-1.632827
3,-1.350819,0,1,0,2,1,1,-1.615560,-1.610886,-0.277410,-0.365545,-1.080523,-1.414494,-1.522732
4,-1.350819,0,1,0,3,1,1,-1.468226,-1.505615,-1.378284,0.008358,-1.118424,-1.373434,-1.503090

In [220]:
x=df_estandarizado.drop(columns = ['registered'])
y = df_estandarizado['registered']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

# Creamos la regresiónn lineal
LR = LinearRegression() # nos aseguramos de que se normalizan los datos
# Ajustamos el modelo
LR.fit(x_train,y_train)
y_prediction_train =  LR.predict(x_train)
Adj_r2_train = 1 - (1-r2_score(y_train,y_prediction_train)) * (x_train.shape[0]-1)/(x_train.shape[0]-x_train.shape[1]-1)

y_prediction =  LR.predict(x_test)
Adj_r2_test = 1 - (1-r2_score(y_test, y_prediction)) * (x_test.shape[0]-1)/(x_test.shape[0]-x_test.shape[1]-1)

# Para el conjunto de entrenamiento las méticas han sido
print('Para el conjunto train:---------------')
print('El valor de r2 score es ',r2_score(y_train,y_prediction_train))
print('El valor de r2 score adjusted es ',Adj_r2_train)
print('El MAE es',mean_absolute_error(y_train,y_prediction_train))
print('EL RMSE es ',np.sqrt(mean_squared_error(y_train,y_prediction_train)))


# Para el conjunto de test las métricas han sido
print('Para el conjunto test:---------------')
print('El valor de r2 score es ',r2_score(y_test,y_prediction))
print('El valor de r2 score adjusted es ',Adj_r2_test)
print('El MAE es',mean_absolute_error(y_test,y_prediction))
print('EL RMSE es ',np.sqrt(mean_squared_error(y_test,y_prediction)))

Para el conjunto train:---------------
El valor de r2 score es  1.0
El valor de r2 score adjusted es  1.0
El MAE es 1.17905631005083e-15
EL RMSE es  1.4426823464256959e-15
Para el conjunto test:---------------
El valor de r2 score es  1.0
El valor de r2 score adjusted es  1.0
El MAE es 1.3136787605216555e-15
EL RMSE es  1.5971681939254304e-15

In [221]:
df_estand_minmax = df_sin_outliers.copy()

In [222]:
df_estand_minmax.dtypes

season           int64
yr            category
mnth          category
holiday       category
weekday       category
workingday    category
weathersit    category
temp           float64
atemp          float64
hum            float64
windspeed      float64
casual           int64
registered       int64
cnt              int64
dtype: object

In [223]:
scaler = MinMaxScaler()
df_estand_minmax[[ 'registered','temp', 'atemp', 'hum', 'windspeed', 'casual', 'cnt']] = scaler.fit_transform(df_estand_minmax[[ 'registered','temp', 'atemp', 'hum', 'windspeed', 'casual', 'cnt']])

In [224]:
x=df_estand_minmax.drop(columns = ['registered'])
y = df_estand_minmax['registered']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

# Creamos la regresiónn lineal
LR = LinearRegression() # nos aseguramos de que se normalizan los datos
# Ajustamos el modelo
LR.fit(x_train,y_train)
y_prediction_train =  LR.predict(x_train)
Adj_r2_train = 1 - (1-r2_score(y_train,y_prediction_train)) * (x_train.shape[0]-1)/(x_train.shape[0]-x_train.shape[1]-1)

y_prediction =  LR.predict(x_test)
Adj_r2_test = 1 - (1-r2_score(y_test, y_prediction)) * (x_test.shape[0]-1)/(x_test.shape[0]-x_test.shape[1]-1)

# Para el conjunto de entrenamiento las méticas han sido
print('Para el conjunto train:---------------')
print('El valor de r2 score es ',r2_score(y_train,y_prediction_train))
print('El valor de r2 score adjusted es ',Adj_r2_train)
print('El MAE es',mean_absolute_error(y_train,y_prediction_train))
print('EL RMSE es ',np.sqrt(mean_squared_error(y_train,y_prediction_train)))


# Para el conjunto de test las métricas han sido
print('Para el conjunto test:---------------')
print('El valor de r2 score es ',r2_score(y_test,y_prediction))
print('El valor de r2 score adjusted es ',Adj_r2_test)
print('El MAE es',mean_absolute_error(y_test,y_prediction))
print('EL RMSE es ',np.sqrt(mean_squared_error(y_test,y_prediction)))

Para el conjunto train:---------------
El valor de r2 score es  1.0
El valor de r2 score adjusted es  1.0
El MAE es 3.245407646513065e-15
EL RMSE es  3.760167104912743e-15
Para el conjunto test:---------------
El valor de r2 score es  1.0
El valor de r2 score adjusted es  1.0
El MAE es 3.1616642333118114e-15
EL RMSE es  3.675521641787196e-15

Obtenemos un modelo más lógico con estandarización StandarScaler y codificado

### Pasamos a eliminar temp y atemp pq estaban demasiado relacionadas.

In [225]:
x=df_estandarizado.drop(columns = ['registered','temp', 'atemp'])
y = df_estandarizado['registered']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

# Creamos la regresiónn lineal
LR = LinearRegression() # nos aseguramos de que se normalizan los datos
# Ajustamos el modelo
LR.fit(x_train,y_train)
y_prediction_train =  LR.predict(x_train)
Adj_r2_train = 1 - (1-r2_score(y_train,y_prediction_train)) * (x_train.shape[0]-1)/(x_train.shape[0]-x_train.shape[1]-1)

y_prediction =  LR.predict(x_test)
Adj_r2_test = 1 - (1-r2_score(y_test, y_prediction)) * (x_test.shape[0]-1)/(x_test.shape[0]-x_test.shape[1]-1)

# Para el conjunto de entrenamiento las méticas han sido
print('Para el conjunto train:---------------')
print('El valor de r2 score es ',r2_score(y_train,y_prediction_train))
print('El valor de r2 score adjusted es ',Adj_r2_train)
print('El MAE es',mean_absolute_error(y_train,y_prediction_train))
print('EL RMSE es ',np.sqrt(mean_squared_error(y_train,y_prediction_train)))


# Para el conjunto de test las métricas han sido
print('Para el conjunto test:---------------')
print('El valor de r2 score es ',r2_score(y_test,y_prediction))
print('El valor de r2 score adjusted es ',Adj_r2_test)
print('El MAE es',mean_absolute_error(y_test,y_prediction))
print('EL RMSE es ',np.sqrt(mean_squared_error(y_test,y_prediction)))

Para el conjunto train:---------------
El valor de r2 score es  1.0
El valor de r2 score adjusted es  1.0
El MAE es 1.1328069187478181e-15
EL RMSE es  1.4152739474303784e-15
Para el conjunto test:---------------
El valor de r2 score es  1.0
El valor de r2 score adjusted es  1.0
El MAE es 1.1803189228890276e-15
EL RMSE es  1.503684827355724e-15

In [226]:
x=df_estandarizado.drop(columns = ['registered','temp', 'atemp', 'casual'])
y = df_estandarizado['registered']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

# Creamos la regresiónn lineal
LR = LinearRegression() # nos aseguramos de que se normalizan los datos
# Ajustamos el modelo
LR.fit(x_train,y_train)
y_prediction_train =  LR.predict(x_train)
Adj_r2_train = 1 - (1-r2_score(y_train,y_prediction_train)) * (x_train.shape[0]-1)/(x_train.shape[0]-x_train.shape[1]-1)

y_prediction =  LR.predict(x_test)
Adj_r2_test = 1 - (1-r2_score(y_test, y_prediction)) * (x_test.shape[0]-1)/(x_test.shape[0]-x_test.shape[1]-1)

# Para el conjunto de entrenamiento las méticas han sido
print('Para el conjunto train:---------------')
print('El valor de r2 score es ',r2_score(y_train,y_prediction_train))
print('El valor de r2 score adjusted es ',Adj_r2_train)
print('El MAE es',mean_absolute_error(y_train,y_prediction_train))
print('EL RMSE es ',np.sqrt(mean_squared_error(y_train,y_prediction_train)))


# Para el conjunto de test las métricas han sido
print('Para el conjunto test:---------------')
print('El valor de r2 score es ',r2_score(y_test,y_prediction))
print('El valor de r2 score adjusted es ',Adj_r2_test)
print('El MAE es',mean_absolute_error(y_test,y_prediction))
print('EL RMSE es ',np.sqrt(mean_squared_error(y_test,y_prediction)))

Para el conjunto train:---------------
El valor de r2 score es  0.9663138493466473
El valor de r2 score adjusted es  0.9657259584102886
El MAE es 0.13735338700166516
EL RMSE es  0.18592344570020114
Para el conjunto test:---------------
El valor de r2 score es  0.9650357267478646
El valor de r2 score adjusted es  0.9624457805810398
El MAE es 0.130933075597758
EL RMSE es  0.17625266202736747

OBTENEMOS MEJOR MODELO AL TENER LOS VALORES CON OUTLIERS REEMPLAZADOS, EL DF CODIFIACADO Y ESTANDARIZADO.

- Calculo de VIF y quitaremos las variables que peor VIF tengan en el modelo.

In [228]:
def get_VIF(dataframe, target):
        X = add_constant(dataframe.loc[:, dataframe.columns != target])
        seriesObject = pd.Series([variance_inflation_factor(X.values,i) for i in range(X.shape[1])] , index=X.columns,).sort_values(ascending= False)
        return seriesObject

In [229]:
get_VIF(df_estandarizado,'registered')

atemp         64.983237
temp          63.579514
const         35.313662
cnt            9.267642
casual         5.918857
season         4.095572
mnth           3.356692
workingday     3.116864
yr             2.751009
hum            2.035981
weathersit     2.014880
windspeed      1.200782
holiday        1.097400
weekday        1.049820
dtype: float64

In [232]:
get_VIF(df_estandarizado.drop(columns = ['temp','atemp']),'registered')

const         34.889355
cnt            7.846857
casual         5.737606
season         4.093180
mnth           3.354137
workingday     3.056344
yr             2.311551
weathersit     2.010092
hum            1.913737
windspeed      1.160068
holiday        1.091052
weekday        1.036004
dtype: float64

In [233]:
get_VIF(df_estandarizado.drop(columns = ['temp','atemp','cnt']),'registered')

const         31.859840
season         3.495883
mnth           3.342377
hum            1.912325
weathersit     1.857895
casual         1.827156
workingday     1.588941
windspeed      1.148334
yr             1.130435
holiday        1.091044
weekday        1.033323
dtype: float64

In [234]:
x=df_estandarizado.drop(columns = ['registered','temp', 'atemp', 'cnt'])
y = df_estandarizado['registered']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

# Creamos la regresiónn lineal
LR = LinearRegression() # nos aseguramos de que se normalizan los datos
# Ajustamos el modelo
LR.fit(x_train,y_train)
y_prediction_train =  LR.predict(x_train)
Adj_r2_train = 1 - (1-r2_score(y_train,y_prediction_train)) * (x_train.shape[0]-1)/(x_train.shape[0]-x_train.shape[1]-1)

y_prediction =  LR.predict(x_test)
Adj_r2_test = 1 - (1-r2_score(y_test, y_prediction)) * (x_test.shape[0]-1)/(x_test.shape[0]-x_test.shape[1]-1)

# Para el conjunto de entrenamiento las méticas han sido
print('Para el conjunto train:---------------')
print('El valor de r2 score es ',r2_score(y_train,y_prediction_train))
print('El valor de r2 score adjusted es ',Adj_r2_train)
print('El MAE es',mean_absolute_error(y_train,y_prediction_train))
print('EL RMSE es ',np.sqrt(mean_squared_error(y_train,y_prediction_train)))


# Para el conjunto de test las métricas han sido
print('Para el conjunto test:---------------')
print('El valor de r2 score es ',r2_score(y_test,y_prediction))
print('El valor de r2 score adjusted es ',Adj_r2_test)
print('El MAE es',mean_absolute_error(y_test,y_prediction))
print('EL RMSE es ',np.sqrt(mean_squared_error(y_test,y_prediction)))

Para el conjunto train:---------------
El valor de r2 score es  0.8007662756422893
El valor de r2 score adjusted es  0.7972892472939872
El MAE es 0.3417491074437662
EL RMSE es  0.45215766035594684
Para el conjunto test:---------------
El valor de r2 score es  0.8131485286138453
El valor de r2 score adjusted es  0.7993076788815376
El MAE es 0.31558956495781465
EL RMSE es  0.40744753364927044

Al calcula el VIF, confirmamos como vimos en el MANOVA que temp y atemp tienen mucha relación entre ellas por lo que mejor eliminarlas. Probamos de nuevo el VIF y seguimos con cnt bastante grande. Tiene sentido ya que tiene relación con casuales y registrados. Por lo tanto, al quitar estas variables del modelo, vemos que nuestro R2 es bastante bueno (0,8) y que el error sigue siendo pequeño (0,4)